.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  transition-duration: 0.6s;
  font-size: 16px;
}

.btn-primary {
  color: #fff;
  background-color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-primary:hover {
  color: #2e4c6d;
  background-color: #fff;
  border: 2px solid #2e4c6d;
}

.btn-outline-primary {
  color: #2e4c6d;
  background-color: #fff;
  border: 2px solid #2e4c6d;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2e4c6d;
  border: 2px solid #2e4c6d;
}

.btn-secondary {
  color: #fff;
  background-color: #fc997c;
  border: 2px solid #fc997c;
}

.btn-secondary:hover {
  color: #fc997c;
  background-color: #fff;
  border: 2px solid #fc997c;
}

.btn-outline-secondary {
  color: #fc997c;
  background-color: #fff;
  border: 2px solid #fc997c;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #fc997c;
  border: 2px solid #fc997c;
}
